/* ===== CUSTOM PROPERTIES ===== */

:root {
  --ff-primary: 'Poppins', sans-serif;

  --fs-400: 0.9375rem;

  --fw-200: 200;
  --fw-400: 400;
  --fw-600: 600;

  --clr-neutral-900: hsl(234, 12%, 34%);
  --clr-neutral-400: hsl(229, 6%, 66%);
  --clr-neutral-200: hsl(0, 0%, 98%);

  --clr-primary-1: hsl(0, 78%, 62%);
  --clr-primary-2: hsl(34, 97%, 64%);
  --clr-primary-3: hsl(180, 62%, 55%);
  --clr-primary-4: hsl(212, 86%, 64%);

}